body {
    font-family: Arial, Helvetica, sans-serif;
}

.page{
    font-size: 13px;
}

.top-bar{
    margin-top: 25px;
    
   
}

#menu-left-top ul{
    list-style-type: none;
    
}

#menu-left-top li{
    display:inline;
    padding: 10px;
    color: grey;
    
   
}

.sign-in{
    text-align: right;

}

.logo{
    display: flex;
    justify-content: center;
    
}

img{
    width: auto;
    position: absolute;
    top: 20%

}