body {
    font-family: Arial, Helvetica, sans-serif;
}

.page{
    font-size:smaller;
}

.top-bar{
    padding-right: 50;
}

#menu ul{
    list-style-type: none;
    
}

#menu li{
    display:inline;
   
}

.sign-in{
    text-align: right;

}

.logo{
    display: flex;
    justify-content: center;
    
}

img{
    width: auto;
    position: absolute;
    top: 21%

}